<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>root</string>
	<key>children</key>
	<array>
		<dict>
			<key>name</key>
			<string>A</string>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>U</string>
				</dict>
				<dict>
					<key>name</key>
					<string>V</string>
				</dict>
				<dict>
					<key>name</key>
					<string>W</string>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>X</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Y</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Z</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>B</string>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>K</string>
				</dict>
				<dict>
					<key>name</key>
					<string>L</string>
				</dict>
				<dict>
					<key>name</key>
					<string>M</string>
				</dict>
				<dict>
					<key>name</key>
					<string>N</string>
					<key>children</key>
					<array>
						<dict>
							<key>name</key>
							<string>O</string>
						</dict>
						<dict>
							<key>name</key>
							<string>P</string>
						</dict>
						<dict>
							<key>name</key>
							<string>P</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R</string>
						</dict>
						<dict>
							<key>name</key>
							<string>S</string>
						</dict>
						<dict>
							<key>name</key>
							<string>T</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>C</string>
		</dict>
		<dict>
			<key>name</key>
			<string>D</string>
		</dict>
		<dict>
			<key>name</key>
			<string>E</string>
		</dict>
		<dict>
			<key>name</key>
			<string>F</string>
		</dict>
		<dict>
			<key>name</key>
			<string>G</string>
			<key>children</key>
			<array>
				<dict>
					<key>name</key>
					<string>H</string>
				</dict>
				<dict>
					<key>name</key>
					<string>I</string>
				</dict>
				<dict>
					<key>name</key>
					<string>J</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
